.header {
  display: flex;
  margin-top: 92px;
  margin-right: 24px;
  margin-left: 24px;
  text-align: center;
}

.header__links-list-item {
  font-family: 'Raleway', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  text-align: left;
}

.header__link_active {
  text-decoration: none;
}

.header__link {
  display: list-item;
  list-style: circle;
}

.header__links-list { /* все ссылки */
  display: flex;
  gap: 39px; /* отступы между словами */
  margin-right: auto;
}

.header-menu {
  display: flex;
  padding: 44px 36px 39px 27px;
  color: #000000;
}

.header__logo-image {
  left: 454px;
  display: block;
  gap: 0px;
  width: 148px;
  height: 105px;
  opacity: 0px;
}

.address {
  padding: 5px 25px 2px 184px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-offset: 4px;

}

.header__address {
  font-style: normal;
  text-align: left;
}

.cover {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-top: 96px;
  padding: 165px 50px 50px;
  background-image: url('../images/cover.jpg');
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0; /* весь размер родительского элемента */
  opacity: 0.6;
  background-color: #000000;
}

.cover__title {
  z-index: 1;
  margin-bottom: 135px;
  color: #ffffff;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: .3em;
  text-transform: uppercase;
}

.underlined-text {
  text-decoration: underline;
}

.letter-spacing-extended {
  letter-spacing: .6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text {
  display: block;
  margin-top: 20px;
  line-height: 1;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.cover__description {
  z-index: 1;
  display: flex;
  justify-content: end;
  gap: 80px;
}

.cover__description-text {
  position: relative;
  z-index: 1;
  align-self: center;
  color:#ffffff;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 19px;
}

.opacity-bottom {
  /* gap: 50px; */
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-family: inherit;
  font-weight: 500;
  font-size: 21px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin: 180px 24px auto;
}


.lots__heading {
  margin-top: 0;
  margin-bottom: 27px;
  margin-left: 40px;
  color:#000000;
  font-weight: 700;
  font-size: 50px;
  text-align: left;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  list-style: none;
  list-style: none;

}

.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
  min-height: 400px;
}

.card-link {
  display: block;
  height: 100%; /* а это помогло растянуть текст */
  text-decoration: none;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
  background-position: center;
  background-size: cover;
}

.card {
  position: relative; /* это помогло мне проявить оверлей */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 100%; /* а это помогло растянуть текст */
  padding: 50px 40px 48px;
}

.card__title {
  position: relative;
  z-index: 1;
  color:#fff;
  font-weight: 700;
  font-size: 22px;
  text-align: left;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  color:#fff;
  font-weight: 300;
  font-size: 20px;
  text-align: left;
  text-decoration: none;
}

.lots__look-more-link {
  display: block;
  margin: 30px auto 0px 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  text-align: left;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin: 146px 24px auto;
}

.about__text {
  color:#000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  width: 148px;
  height: auto;
}

.about__text-first {
  margin-bottom: 24px;
}

.about__title {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  text-align: left;
  text-transform: uppercase;
}

.about__column-left {
  align-self: start;
  margin-top: 35px;
  margin-left: 47px;
}
.about__column-right {
  margin-top: 133px;
  margin-right: 24px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; 
  height: 98px;
  margin: 180px 50px 88px;

}
.footer__address {
  align-content: end;
  font-size: 18px;
  font-style: normal;
  text-align: left;
}

.footer__social-icon {
  width: 48px;
}

.footer__menu {
  display: flex;
  justify-content:center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-list {
  font-size: 18px;
  text-align: center;
  list-style-type: none;
}

.footer__social-list {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 48px;
  list-style-type: none;
}